.hero {
  @apply flex flex-col items-center relative;

  .subtitleblock {
    max-width: 701px;

    & p {
      max-width: 600px;
    }
  }

  .stripes {
    @apply absolute w-full h-full left-0 top-1/2 bg-cover bg-no-repeat bg-center;
    z-index: -2;
    scale: 1.5;
  }
}
